.own-design-page .title:after {
    content: "";
    height: 3px;
    width: 50%;
    background-color: white;
    position: absolute;
    bottom: -.5em;
    left: 50%;
    transform: translate(-50%);
}