.image-part {
    /*w-1/2 flex flex-col justify-center*/
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
}
.text-part{
    /*p-2 w-1/2 flex flex-col justify-center items-start*/
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    width: 50%;
    text-align: left;
}
.text-part h1 {
    width: 90%;
}
.img-settings{
    width: 30%;
}
/*w-full flex items-center justify-center lg:flex-row sm:flex-col sm:bg-fuchsia-400 sm:flex-col-reverse'*/
.introduction-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 900px) {
    .introduction-container {
        display: flex;
        flex-direction: column-reverse;
        height: 100vh;
        justify-content: center;
    }
    .image-part {
        position: relative;
        width: 100%;
        height: 50vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .text-part{
        font-size: 20px;
        width:100%;
        height: 50vh;
        display: flex;
        justify-content: end;

    }

    .btn-primary, .btn-secondary {
        font-size: 14px;
    }
}