@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
/* styles/globals.css or your preferred location */


/*
  Note: The styles for this gradient grid background is heavily inspired by the creator of this amazing site (https://dub.sh) – all credits go to them!
*/

:root {
    --primary-color: #4949F7;
    --secondary-color: #000066;
    --background-color: #F0F0EB;
    --background-color-secondary: #000066;
}
body {
    font-family: 'Nunito', sans-serif;
    background-color: var(--background-color);
}

/* Section */
.section-container {
    padding: 3rem 3rem;
    background-color: var(--background-color);
    width: 100%;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    position: relative;
}
.section-container-no-flex {
    padding: 3rem 3rem;
    background-color: var(--background-color);
    width: 100%;
    color: black;
    flex: 1;
    position: relative;
}
.section-container-secondary {
    padding: 3rem 3rem;
    background-color: var(--background-color-secondary);
    width: 100%;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    overflow: auto;
    position: relative;
}
/* title */
.page-title {
    color: white;
    font-size: 40px;
    font-weight: bold;
    position: relative;
    margin-bottom: 4rem;
    text-align: center;
}
.page-title:after {
    content: "";
    height: 3px;
    width: 50%;
    background-color: white;
    position: absolute;
    bottom: -.5em;
    left: 50%;
    transform: translate(-50%);
}
/* Buttons */
.btn-primary {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
}
.btn-primary:hover {
    background-color: var(--primary-color);
    opacity: 0.8;
}
.btn-secondary {
    background-color: var(--secondary-color);
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
}
.btn-secondary:hover {
    background-color: #0b0b67;
    opacity: 0.8;
}
